

<div>
  <div class="selectgrid">

    <div class="form-group">
      <select id='select_state' class="states">
        <option>Select a State</option>
        <option value="WA">Washington</option>
        <option value="OR">Oregon</option>
        <option value="CA">California</option>
      </select>
    </div>
    <div class="form-group">
      <select id='select_mon' class="month">
        <option>Select a Month</option>
        <option value="1">Jan</option>
        <option value="2">Feb</option>
        <option value="3">Mar</option>
        <option value="4">Apr</option>
        <option value="5">May</option>
        <option value="6">Jun</option>
        <option value="7">Jul</option>
        <option value="8">Aug</option>
        <option value="9">Sep</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>

      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" id='search'>Search</button>

    </div>
   </div>

    <div>
      <div class="productgrid" id ='result'></div>
    </div>
 
    
    <div class = "container">
    <div class = "meal-wrapper">
    
      <div class = "meal-result">
        <h2 class = "title">Your Search Results:</h2>
        <div id= "meal">
      </div>


      <div class = "meal-details">
        <!-- recipe close btn -->
        <button type = "button" class = "btn recipe-close-btn" id = "recipe-close-btn">
          <i class = "fas fa-times"></i>
        </button>

        <!-- meal content -->
        <div class = "meal-details-content">
        </div>
      </div>
    </div>
  </div>


</div>


    