

<div class="row mt-4">
  <div class="col-md-6">
    <div class="selectgrid">
      <div class="form-group">
        <select id='select_state' class="states">
          <option>Select a State</option>
          <option>Current State</option>
          <option value="WA">Washington</option>
        </select>
        <button>1</button>
      </div>
      <div class="form-group">
        <select id='select_mon' class="month">
          <option>Select a Month</option>
          <option>Current Month</option>
          <option value="1">Jan</option>
        </select>
        <button>2</button>
      </div>
      <div class="form-group">
        <button type="submit" class="btn search" id='search'>Search</button>
      </div>
    </div>

    <div>
      <h4 id = 'test'></h4>
    </div>
    <div class="productgrid">
    {{#each products as |product|}}
    
      <div>
        <div class="buttonformat">
          <button class="productbtn btn">{{product.name}}</button>
        </div>
      </div>
    
    {{/each}}
    </div>
</div>

<script src="./js/profile.js"></script>