
@keyframes changeColor {
    from {
        background-color: #69d2e7;
    }
    to {
        background-color: #FA6900;
    }
}

@keyframes changeOpacity {
    from {
        background-color: rgba(16, 231, 247, 0.1);
    }
    5% {
        background-color: rgba(16, 231, 247, 0.5);
        color: grey;
    }
    to {
        background-color: rgba(16, 231, 247, 0.5);
    }
}

@keyframes changeOpacity2 {
    from {
        background-color: rgba(67, 179, 110, 0);
    }
    5% {
        background-color: rgba(39, 126, 68, 0.5);
    }
    to {
        background-color: rgba(39, 126, 68, 0.5);
    }
}

@keyframes seasonChange {
    from {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header {
    background-color: rgba(16, 231, 247, 0.5);
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #239c33;
    background: url(../images/something.jpg) right top no-repeat, url(../images/somethingflip.jpg) right top repeat;
}
  
.titlegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    align-items: center;
    text-align: center;
}

.title {
    padding: 75px 25px 75px 50px;
    font-size: 50px;
    color: orange;
}

.slogan {
    font-size: 25px;
    color: whitesmoke;
}

.seasons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    font-size: 60px;
}

.spring {
    top: 95px;
    position: absolute;
    opacity: 0;
    animation-name: seasonChange;
    animation-delay: 1s;
    animation-duration: 100s;
    animation-iteration-count: inherit;
    color: lawngreen;
}

.summer {
    top: 50px;
    right: 150px;
    position: absolute;
    opacity: 0;
    animation-name: seasonChange;
    animation-delay: 4s;
    animation-duration: 100s;
    animation-iteration-count: inherit;
    color: lightcoral;
}

.fall {
    top: 120px;
    right: 300px;
    position: absolute;
    opacity: 0;
    animation-name: seasonChange;
    animation-delay: 7s;
    animation-duration: 100s;
    animation-iteration-count:inherit;
    color: orangered;
}

.winter {
    top: 45px;
    right: 400px;
    position: absolute;
    opacity: 0;
    animation-name: seasonChange;
    animation-delay: 10s;
    animation-duration: 100s;
    animation-iteration-count: inherit;
    color: lightblue;
}

nav {
    font-size: 25px;
    background-color: rgba(16, 231, 247, 0.1);
    opacity: .95;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.nav {
    padding: 20px;
    width: 160px;
}

.nav:hover {
    animation: changeOpacity;
    animation-duration: 20s;
} 

.selectgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 15px;
    margin: 30px;
    width: 45%;
    min-width: 450px;
    background-color: rgba(212, 247, 16, 0.7);
    text-align: center;
}

.selectgrid:hover {
    background-color: rgba(212, 247, 16, 0.85);
}

.form-group {
    align-items: center;
}

.states {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(212, 247, 16, 0);
    border: none;
}

.month {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(212, 247, 16, 0);
    border: none;
    align-items: center;
}

option {
    background-color: rgba(212, 247, 16, 1);
}

#search {
    font-size: 22px;
    color: black;
    padding: 10px;
}

#search:hover {
    animation: changeOpacity2;
    animation-duration: 20s;
}

.productgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.buttonClass {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    width: 250px;
    padding: 40px 20px 40px 20px;
    margin: 10px;
    text-align: center;
    background-color: #69d2e7;
    font-size: 25px;
    opacity: .9;

}

.buttonClass:hover {
    animation-name: changeColor;
    animation-duration: 1s;

    background-color: #FA6900;
}

@media only screen and (max-width: 1650px) {
    .productgrid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1440px) {
    .productgrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .fall {
        right: 600px;
        top: 150px;
    }
}

@media only screen and (max-width: 1100px) {
    .productgrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 930px) {
    .spring {
        display: none;
    }
    .summer {
        display: none;
    }
    .fall {
        display: none;
    }
    .winter {
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .productgrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 680px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nav {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 560px) {
    .productgrid {
        grid-template-columns: 1fr;
    }

    .buttonClass {
        margin-left: auto;
        margin-right: auto;
    }

    .selectgrid {
        grid-template-columns: 1fr 1fr;
        min-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    #search {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 440px) {
    .selectgrid {
        grid-template-columns: 1fr;
        min-width: 250px;
    }

    .form-group {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 350px) {
    nav {
        display: grid;
        grid-template-columns: 1fr;
    }

    .selectgrid {
        min-width: 175px;

    }
}