@keyframes changeColor {
    from {
        background-color: #69d2e7;
    }
    to {
        background-color: #FA6900;
    }
}

@keyframes changeOpacity {
    from {
        background-color: rgba(16, 231, 247, 0.1);
    }
    5% {
        background-color: rgba(16, 231, 247, 0.5);
    }
    to {
        background-color: rgba(16, 231, 247, 0.5);
    }
}

@keyframes changeOpacity2 {
    from {
        background-color: rgba(67, 179, 110, 0);
    }
    5% {
        background-color: rgba(39, 126, 68, 0.5);
    }
    to {
        background-color: rgba(39, 126, 68, 0.5);
    }
}

.btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header {
    background-color: rgba(16, 231, 247, 0.5);
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #239c33;
    background: url(../images/something.jpg) right top no-repeat, url(../images/somethingflip.jpg) right top repeat;
}
  
.titlegrid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.title {
    padding: 75px 25px 75px 50px;
    font-size: 50px;
    color: orange;
}

.slogan {
    font-size: 25px;
    color: whitesmoke;
}

nav {
    font-size: 25px;
    background-color: rgba(16, 231, 247, 0.1);
    opacity: .95;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.nav {
    padding: 20px;
    /* border-right: solid 4px;
    border-left: solid 4px; */
    width: 160px;
    /* background-color: rgba(16, 231, 247, 0.5); */
}

.nav:hover {
    animation: changeOpacity;
    animation-duration: 20s;
} 

.selectgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 15px;
    margin: 30px;
    width: 45%;
    background-color: rgba(212, 247, 16, 0.7);
    text-align: center;
}

.selectgrid:hover {
    background-color: rgba(212, 247, 16, 0.85);
}

.form-group {
    align-items: center;
}

.states {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(212, 247, 16, 0);
    border: none;
}

.month {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(212, 247, 16, 0);
    border: none;
    align-items: center;
}

option {
    background-color: rgba(212, 247, 16, 1);
}

.selectbtn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    
}

#search {
    font-size: 22px;
    color: black;
    padding: 10px;
}

#search:hover {
    animation: changeOpacity2;
    animation-duration: 20s;
}

.productgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.buttonClass {
    width: 250px;
    padding: 40px 20px 40px 20px;
    margin: 10px;
    text-align: center;
    background-color: #69d2e7;
    font-size: 25px;
    opacity: .9;
}

.buttonClass:hover {
    animation-duration: 1s;
    animation-name: changeColor;

    background-color: #FA6900;
}

